<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="/listarProdutos.css">
</head>
<body>
<h1>Lista de Produtos</h1>

<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Status</th>
        <th>Destinação</th>
        <th>Rentabilidade</th>
        <th>Prazo</th>
        <th>Taxa Administrativa</th>
    </tr>
    </thead>
    <tbody>
    <!-- Loop through each product in the model attribute 'produtos' -->
    <tr th:each="produto : ${produtos}">
        <td th:text="${produto.nome}"></td>
        <td th:text="${produto.status}"></td>
        <td th:text="${produto.destinacao}"></td>
        <td th:text="${produto.rentabilidade}"></td>
        <td th:text="${produto.prazo}"></td>
        <td th:text="${produto.taxAdmin}"></td>
    </tr>
    </tbody>
</table>

<!-- Link to create a new product -->
<a th:href="@{/estoque/novo}" class="btn btn-primary">Novo Produto</a>
</body>
</html>
